#jump-links table th.display-name,
#jump-links table td.display-name {
	width: 20%;
	min-width: 120px !important;
}

#jump-links table th.display-page,
#jump-links table td.display-page {
	width: 70%;
}

#jump-links table th.ops,
#jump-links table td.ops {
	width: 10%;
	min-width: 80px !important;
	text-align: right;
}